# Laravel
/vendor
/node_modules
/public/storage
/storage/*.key
.env
.env.backup
.phpunit.result.cache
Homestead.yaml
Homestead.json

# IDEs y sistemas operativos
.idea
.vscode
.DS_Store
Thumbs.db

# Vite/Tailwind
/public/build
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
